# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
build/
dist/
*.egg-info/

# Secrets & Environment variables
.env
.env.*
firebase-key.json
service-account*.json
credentials.json

# IDEs & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Test & coverage
.pytest_cache/
.coverage
htmlcov/
